{% extends 'base.html' %}
{% block content %}
<h1>Workers</h1>
<a href="{% url 'worker_create' %}">Create New Worker</a>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
        <tr>
            <td>{{ worker.first_name }}</td>
            <td>{{ worker.last_name }}</td>
            <td>{{ worker.position }}</td>
            <td>
                <a href="{% url 'worker_edit' worker.id %}">Edit</a> |
                <a href="{% url 'worker_delete' worker.id %}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
